@import '../variables';

.ProductBlock {
  margin: 12px 12px;
  display: flex;
  flex-direction: column;
  border: 3px solid $light-grey;
  border-radius: 5px;
  cursor: pointer;
  .product-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 3px solid $light-grey;
  }
  .product-name {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding: 18px 0px;
    background-color: white;
    // color: white;
    font-size: 18px;
  }
}
