@import '../../variables';

.ProfileArea {
  //   width: 100%;
  padding: 130px 0px 50px 270px;
  background-color: $background-grey;
  height: 100vh;

  .Profile-wrapper {
    // min-width: 1000px;
    width: 75%;
    margin: auto;
    padding: 30px 11% 30px 11%;
    background-color: white;
    text-align: center;
    box-shadow: 5px 0px 3px 0.5px $light-grey;

    .addProductBtn {
      background-color: $light-grey;
      border: 1px solid rgb(56, 33, 33);
      width: 100%;

      height: 35px;
      cursor: pointer;
    }
    .Profile-sns {
      margin-top: 80px;
      float: right;
    }
  }
}
