@import '../variables';

.Container {
	padding: 62px 0px 0px 270px;
	height: 100vh;
	background-color: $background-grey;
	display: flex;
	justify-content: center;
	align-items: center;

	.JoinContainer {
		padding: 100px 25vh;
		width: 90vh;
		min-width: 500px;
		height: 50vh;
		min-height: 600px;
		background-color: white;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		box-shadow: 5px 5px 5px lightgray;

		h2 {
			width: 200px;
			font-family: $gowun;
			font-size: 35px;
			text-align: center;
			align-self: center;
			padding-bottom: 10px;
		}

		h4 {
			padding-left: 10px;
			font-family: $noto;
		}

		.InputBox {
			height: 50px;
			min-width: 200px;
			border-radius: 10px;
			background-color: $background-grey;
			border: none;
			font-size: medium;
			box-sizing: border-box;
			padding: 0 10px 0 10px;
		}

		.IdWrapper {
			display: flex;

			.IdInputBox {
				height: 50px;
				width: 70%;
					min-width: 170px;
				border-radius: 10px;
				background-color: $background-grey;
				border: none;
				font-size: medium;
				margin-right: auto;
				box-sizing: border-box;
				padding: 0 10px 0 10px;
			}

			.IdCheckBtn {
				cursor: pointer;
				text-align: center;
				width: 25%;
				min-width: 30px;
				height: 100%;
				background-color: black;
				color: white;
				border-radius: 10px;
				font-family: $noto;
				font-size: small;
			}
			.IdCheckBtn:disabled {
				cursor: not-allowed;
				text-align: center;
				width: 25%;
				height: 100%;
				background-color: lightgray;
				color: white;
				border-radius: 10px;
				font-family: $noto;
				font-size: small;
			}
		}

		.PasswordWrapper {
			position: relative;
			min-width: 200px;
				width: 100%;
		
			.PasswordInputBox {
				display: flex;
				height: 50px;
				min-width: 200px;
				width: 100%;
				border-radius: 10px;
				background-color: $background-grey;
				border: none;
				font-size: medium;
				box-sizing: border-box;
				padding: 0 40px 0 10px;
			}

			.ShowPassword {
				cursor: pointer;
				position: absolute;
				right: 15px;
				top: 30%;
				color: gray;
			}	
		}

		.JoinBtn {
			cursor: pointer;
			align-self: center;
			width: 18vh;
			height: 5vh;
			background-color: black;
			color: white;
			border-radius: 10px;
			text-align: center;
			font-family: $noto;
			font-size: medium;
		}
		.JoinBtn:disabled {
			cursor: not-allowed;
			align-self: center;
			width: 18vh;
			height: 5vh;
			background-color: lightgray;
			color: white;
			border-radius: 10px;
			text-align: center;
			font-family: $noto;
			font-size: medium;
		}

				.CheckMsg {
			padding: 0 0 10px 10px;
			color: red;
			font-family: $gowun;
			font-size: small;
		}

	}
}