// colors
$blue: #247ef4;
$medium-blue: #559af4;
$light-blue: #87b8f3;

$light-grey: #ececec;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

$gowun: 'Gowun Dodum', sans-serif;
