// colors
$blue: #247ef4;
$medium-blue: #559af4;
$light-blue: #87b8f3;

$grey: #666666;
$light-grey: #ececec;
$background-grey: #f2f4f7;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

$gowun: 'Gowun Dodum', sans-serif;
$noto: 'Noto Sans KR', sans-serif;

@mixin set-product-content($num) {
  padding: 35px 0px;
  display: grid;
  grid-template-columns: repeat($num, 1fr);
}
