@import '../../variables';

.WhiteBtn {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 7px 28px;
  padding-bottom: 9px;
  margin-top: 5px;
  text-align: center;
  font-family: $noto;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
  &#btn-revise {
    padding: 7px 14px;
    margin-right: 4px;
  }
}

#chatlist-btn {
  padding-left: 15px;
  padding-right: 15px;
}
